.food-image {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
}

.food-details {
    color: #333333;
}

.food-sort-select {
    border: none;
    background-color: #cccccc;
    border-radius: 10px;
}