<div class="container">
    <app-header></app-header>
    
    <br>

    <div class="container">
        <form class="form-inline">
            <span class="row text-align-center">
                <input class="form-control col col-md-6 col-sm-6" id="search-box" type="search" placeholder="Search"
                    aria-label="Search">
                <span class="col-md-1 col-sm-1"></span>
                <button class="btn btn-outline-success col-md-2 col-sm-2" type="submit">Search</button>
            </span>
        </form>
    </div>
    
    <br>
    
    <div class="home-body">
        <div *ngIf="true">
            <div class="card">
                <div class="card-header text-align-center">
                    <h2>Choose Your Meal</h2>
                </div>
                <div class="card-body">
                    <div class="row category-card-holder">
                        <div class="col-md-2 col-sm-3" *ngFor="let category of categories.slice(0, 5)">
                            <div class="category-card">
                                <div class="">
                                    <img [src]="categoryImageLocation + category.src" [alt]="category.name" class="category-img">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3" *ngIf="categories.length > 5">
                            <div class="category-card">
                                <div class="">
                                    <span class="catergory-img">More...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div *ngIf="restaurants.length >= 1">
            <div class="card">
                <div class="card-header text-align-center">
                    <h2>Browse Restaurants</h2>
                </div>
                <div class="card-body restaurant-card-body">
                    <div *ngFor="let restaurant of restaurants">
                        <div class="alert alert-primary restaurants" [routerLink]="'restaurant/' + restaurant.id">
                            {{restaurant.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>