<div class="container">
    <!-- <div *ngIf="anyoneLoggedIn"> -->
        <app-header></app-header>
        <div class="container">
            <form class="form-inline">
                <span class="row text-align-center">
                    <input class="form-control col col-md-6 col-sm-6" id="search-box" type="search" placeholder="Search"
                        aria-label="Search">
                    <span class="col-md-1 col-sm-1"></span>
                    <button class="btn btn-outline-success col-md-2 col-sm-2" type="submit">Search</button>
                </span>
            </form>
        </div>
        Body
    <!-- </div>
    <div *ngIf="!anyoneLoggedIn">
        <app-customer-no-data></app-customer-no-data>
    </div> -->
</div>