<!-- <br>
<div class="container">
    <div class="card">
        <div class="card-header alert alert-primary">
            <h1>HungryHub Login</h1>
        </div>
        <div class="card-body">
            <div class="form-group" [formGroup]="form">
                <label for="customerEmail">Enter Email</label>
                <input type="email" name="customerEmail" id="customerEmail" class="form-control" formControlName="email">
                <div *ngIf="form.get('email')?.dirty && form.get('email')?.errors">
                    <small class="text-danger">
                        *Enter a valid mail
                    </small>
                </div>
                <div *ngIf="!doesCustomerExists">
                    <small class="text-danger">
                        {{customerErrorMessage}}
                    </small>
                </div>
                <div *ngIf="!userExists">
                    <br>
                    <button class="btn btn-primary" [disabled]="otpButtonDisabled || form.get('email')?.errors" (click)="login()">
                        Generate OTP
                        <span *ngIf="otpButtonDisabled">
                            (<span *ngIf="cooldownMinutes > 0">{{cooldownMinutes}}m</span>
                            <span *ngIf="cooldownMinutes > 0 && cooldownSeconds > 0">&nbsp;</span>
                            <span *ngIf="cooldownSeconds > 0">{{cooldownSeconds}}s</span>)
                        </span>
                    </button>
                </div>
                <div *ngIf="userExists">
                    <br>
                    <label for="otp">Enter OTP</label>
                    <input type="number" name="otp" id="otp" class="form-control" formControlName="otp">
                    <br>
                    <div *ngIf="form.get('otp')?.dirty && form.get('otp')?.errors">
                        <small class="text-danger">
                            *OTP should be 6 digit long
                        </small>
                        <br>
                        <br>
                    </div>
                    <div *ngIf="otpErrorMessage">
                        <small class="text-danger">*{{otpErrorMessage}}</small>
                        <br>
                        <br>
                    </div>
                    <button class="btn btn-success" (click)="validateOtp()" [disabled]="!form.valid">
                        Validate
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" [disabled]="otpButtonDisabled || form.get('email')?.errors" (click)="login()">
                        Resend OTP
                        <span *ngIf="otpButtonDisabled">
                            (<span *ngIf="cooldownMinutes > 0">{{cooldownMinutes}}m</span>
                            <span *ngIf="cooldownMinutes > 0 && cooldownSeconds > 0">&nbsp;</span>
                            <span *ngIf="cooldownSeconds > 0">{{cooldownSeconds}}s</span>)
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->