<br>
<div class="container container-fluid">
    <div class="card">
        <div class="card-header alert alert-success text-align-center">
            <h1>HungryHub</h1>
        </div>
        <div class="card-body text-align-center">
            <span class="row">
                <span class="col-md-6 col-sm-6 col-6">
                    <button class="btn btn-success login-btn" routerLink="/login">Login</button>
                </span>
                <span class="col-md-6 col-sm-6 col-6">
                    <button class="btn btn-success signin-btn" routerLink="/signin">Sign In</button>
                </span>
            </span>
        </div>
    </div>
</div>
