<br>
<div class="container">
    <div class="alert alert-secondary">
        <h1 class="text-secondary">Invalid Page</h1>
        <img src="../../../assets/images/gifs/invalidpage.gif" alt="404 Not Found!" class="not-found-gif">
        <br>
        <p class="text-secondary my-2">The page you are looking for was not found!</p>
        <hr>
        <button class="btn btn-secondary" (click)="goback()">Back</button>
        &nbsp;
        <button class="btn btn-secondary" (click)="gohome()">Go Home</button>
    </div>
</div>